@model IEnumerable<VidonBotellasMVC.Models.Botella>
    @{
    ViewData["Title"] = "Gestor";
}

<div class="text-center" style="padding-left: 20px; padding-right: 20px;">

    <br />
    <h2 class="pb-2 border-bottom">Gestión de botellas guardadas</h2>

    <div class="col-md">

        <div class="contenedor">
            <div class="row g-3">

                @if (Model.Count() > 0)
                {
                    <table class="table table-striped" style="width:100%" id="tblUsuarios" cellspacing="0">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.IdBotella)</th>
                                <th>@Html.DisplayNameFor(m => m.FechaGuardado)</th>
                                <th>@Html.DisplayNameFor(m => m.QuienGuardoMozo)</th>
                                <th>@Html.DisplayNameFor(m => m.Estado)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.IdBotella)</td>
                                    <td>@Html.DisplayFor(m => item.FechaGuardado)</td>
                                    <td>@Html.DisplayFor(m => item.QuienGuardoMozo)</td>
                                    <td><a class="btn btn.success" asp-action="Editar" asp-route-id="@item.IdBotella">
                                        @Html.DisplayFor(m => item.Estado)</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }


            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>

        $(document).ready(function () {
            var sucursal = getUrlParameter("sucursal");
             $('#tblUsuarios').DataTable({

                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
                    "infoFiltered": "(filtrado de _MAX_ entradas en total)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

    </script>
}