@model VidonBotellasMVC.Controllers.HomeController.BotellaClienteViewModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center" style="padding-left: 20px; padding-right: 20px;">

    <br />
    <h2 class="pb-2 border-bottom">Gestión de botellas guardadas</h2>

    <div class="col-md">

        <div class="contenedor">
            <div class="row g-3">

                @if (Model.Botellas.Count() > 0 && Model.Clientes.Count() > 0)
                {
                    <table class="table table-striped" style="width:100%" id="tblUsuarios" cellspacing="0">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Botellas.First().IdBotella)</th>
                                <th>@Html.DisplayNameFor(m => m.Clientes.First().Nombre)</th>
                                <th>@Html.DisplayNameFor(m => m.Clientes.First().Apellido)</th>
                                <th>@Html.DisplayNameFor(m => m.Clientes.First().Dni)</th>
                                <th>@Html.DisplayNameFor(m => m.Botellas.First().FechaGuardado)</th>
                                <th>@Html.DisplayNameFor(m => m.Botellas.First().QuienGuardoMozo)</th>
                                <th>@Html.DisplayNameFor(m => m.Botellas.First().Estado)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Math.Min(Model.Botellas.Count(), Model.Clientes.Count()); i++)
                            {
                                var botella = Model.Botellas.ElementAt(i);
                                var cliente = Model.Clientes.ElementAt(i);

                                <tr>
                                    <td>@Html.DisplayFor(m => botella.IdBotella)</td>
                                    <td>@Html.DisplayFor(m => cliente.Nombre)</td>
                                    <td>@Html.DisplayFor(m => cliente.Apellido)</td>
                                    <td>@Html.DisplayFor(m => cliente.Dni)</td>
                                    <td>@Html.DisplayFor(m => botella.FechaGuardado)</td>
                                    <td>@Html.DisplayFor(m => botella.QuienGuardoMozo)</td>
                                    <td><a class="btn btn.success" asp-action="Editar" asp-route-id="@botella.IdBotella">
                                        @Html.DisplayFor(m => botella.Estado)</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }


            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>

        var tablaUsuarios;

        $(document).ready(function () {
            var sucursal = getUrlParameter("sucursal");
            tablaUsuarios = $('#tblUsuarios').DataTable({

                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
                    "infoFiltered": "(filtrado de _MAX_ entradas en total)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });


    </script>
}